<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @newspost.content %>
</p>

<p>
  <b>User:</b>
  <%= @newspost.user_id %>
</p>


<%= link_to 'Edit', edit_newspost_path(@newspost) %> |
<%= link_to 'Back', newsposts_path %>
